<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description"  />
    <meta name="author" />
    <title>Official Lonyamship Website</title>
    
<%- include('partials/headerPlugIns') %>
    <link href="./css/styles.css" rel="stylesheet" />

    
<!-- NavBar -->


<%- include('partials/navBar') %>


</head>

  

<body class ="bg-primary">

        <!-- Masthead-->
            <div class="container d-flex align-items-center flex-column">
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>

                        <!-- Image slideshow -->
                <div id="carouselExampleDark" class="carousel carousel-dark slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                      <li data-target="#carouselExampleDark" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleDark" data-slide-to="1"></li>
                      <li data-target="#carouselExampleDark" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                      <div class="carousel-item active" data-interval="10000">
                        <img src="./images/kyidug1.jpg" class = "img-fluid w-100" alt="...">
                        <!-- <div class="carousel-caption d-none d-md-block">
                          <h5>First slide label</h5>
                          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                        </div> -->
                      </div>
                      <div class="carousel-item" data-interval="2000">
                        <img src="./images/kyidug2.jpg"  class = "img-fluid" alt="...">
                       
                      </div>
                      <div class="carousel-item">
                        <img src="./images/kyidug3.jpg"  class = "img-fluid"  alt="...">
                       
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleDark" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleDark" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </a>
                  </div>

            </div>

                  <!-- About Us -->

                  <section class="page-section p-3 mb-2 bg-primary" id="about">


                <div class="container float-container">

                    <div class="float-child">
                        <div class="green">

                            <p class="lead text-light mt-5" style = "border-style:groove">

                                Lo-Nyamship Kyidug USA is a non-profit organization established primarily to help the
                                people of
                                Upper Mustang community in the USA and also living in Nepal.

                                Its main objective is to preserve Mustang culture and traditions and bringing everyone
                                under one
                                roof to celebrate.

                                </p>
                        </div>
                    </div>

                    <div class="float-child">
                        <div class="blue">
                            <p class="lead text-light" style = "border-style:groove">
                                We achieve this by gathering and celebrating our traditions even though we are far from
                                home.
                                The association aims to preserve our culture through community
                                programs that allow people of different age groups to share their knowledge to the
                                coming
                                generation.
                            </p>
                        </div>
                    </div>

                </div>



    </section>
    <!--end of front page -->
    <!-- MEMBERS Section-->
    <section class="page-section portfolio bg-primary" id="portfolio">


        <h1 class="text-center text-lg-center mt-4 mb-0 photo-gall-heading text-dark">Members</h1>

        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card mx-auto border-primary float-left" style="width:150px">
                        <div class="card-body">
                            <h5 class="card-title">Executive Members</h5>
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#executiveMembersToggle">
                                See Members
                            </button>


                            <!-- Modal for Executive Members -->
                            <div class="modal fade" id="executiveMembersToggle" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Members</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                                                <span aria-hidden="true">&times;</span>
                                        </div>
                                        <div class="modal-body">

                                            <ul class="list-group" id="execMember">


                                                <% executiveMembers.forEach( (member) =>{ %>
                                                    

                                                    <div class="card" style="width: 18rem;">
                                                        <img class="card-img-top" src="..." alt="Card image cap">
                                                        <div class="card-body mb-5">
                                                          <h5 class="card-title"> <%= member.Name %>+", "<%= member.Title %></h5>
                                                          <p class="card-text"><%=member.Email %>

                                                            <a class="btn btn-outline-dark btn-social mx-1" href="<%= member.Facebook %>"><i class="fab fa-fw fa-facebook-f"></i></a>


                                                        </div>
                                                      </div>


                                            </ul>

                                        <% });  %>







                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>

                <div class="col">

                    <div class="card mx-auto border-primary float-left" style="width:150px">
                        <div class="card-body">
                            <h5 class="card-title">Board Members</h5>
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#boardMembersToggle">
                                See Members
                            </button>


                            <!-- Modal for Board Members -->
                            <div class="modal fade" id="boardMembersToggle" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Members</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                                                <span aria-hidden="true">&times;</span>
                                        </div>
                                        <div class="modal-body">

                                            <ul class="list-group" id="boardMember">



                                            </ul>







                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>

                    </div>
                </div>
                <!-- New Members Modal -->

                <div class="col">

                    <div class="card mx-auto border-primary float-left" style="width:150px">
                        <div class="card-body">
                            <h5 class="card-title">New Members</h5>
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#newMembersToggle">
                                See Members
                            </button>


                            <!-- Modal for New Members -->
                            <div class="modal fade" id="newMembersToggle" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Members</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                                                <span aria-hidden="true">&times;</span>
                                        </div>
                                        <div class="modal-body">

                                            <ul class="list-group" id="newMember">




                                            </ul>







                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>


    <!-- Gallery Section-->
    <section class="page-section bg-white text-white mb-0" id="gallery">

        <!-- Page Content -->


        <div class="container gallery-container">

            <h1 class="text-center text-lg-center mt-4 mb-0 photo-gall-heading text-dark">Photo Gallery</h1>

            <hr class="mt-2 mb-5">


            <div class="tz-gallery">

                <div class="row">

            <% for(var i = 0 ; i< link.length ; i++){ %>
                <div class="col-xs-6 col-md-4">
                <div class="thumbnail">
                        <a class="lightbox" href="./images/<%= link[i] %>">
                            <img class = "img-thumbnail img-responsive" src="./images/<%= link[i] %>" alt="Traffic" style="width:100%">
                        </a>
                       
                    </div>
                
                </div>
            <%}%>


       

                </div>




            </div>
        </div>
        <!-- /.container -->
    </section>

    <button onclick="topFunction()" id="scrollToTop" title="Go to top">Back to Top</button>

    <!-- Upload Images Section! -->
    <section class="page-section bg-white" id="upload-image">


        <span class="border border-success">
            <div class="mx-auto" style="width: 200px;">
                <h1 class="display-4 ">Upload your images to gallery!</h1>
                </div>
        

        </span>


          <div class="mx-auto" style="width: 750px">

        <form method="post"  name="uploadFile" 
        enctype="multipart/form-data" action = "/uploadFile" >
            <input type='file' name='imageUpload' multiple />
            <input type='submit' value='Upload'/>
          </form>

          </div>

</div>

        </section>

            

    <section class="container page-section bg-white" id="contact">
        <div class="mx-auto" style="width: 750px">
            <!-- Contact Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-auto">Contact Us!</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Contact Section Form-->

            <div class="shadow-lg p-3 mb-5 bg-white rounded">

                <p class="suggestions">

                    Please share with us any features you would like to see on this website!

                    <br>
                    Also feel free to contact us about any inquiries.



                </p>


            </div>



            <form name="simple-contact-form" accept-charset="utf-8" class="col-lg-6 offset-lg-3" action="https://formspree.io/taktukgg@gmail.com"
            method="post">
            <div class="form-row justify-content-center">
                    <label for="inputName">Full Name</label>
                    <input type="text" class="form-control" id="inputName" name="fullName" placeholder="Enter Full Name">    
            </div>
    
            <div class="form-row justify-content-center">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" name="_replyto" placeholder="Email"
                        required="">
    
            </div>
    
            <div class="form-row justify-content-center">
                    <label for="inputSubject">Subject</label>
                    <input type="text" class="form-control" id="inputSubject" name="_subject" placeholder="Subject"
                        required="">
            </div>
    
            <div class="form-row justify-content-center">
                    <label for="message">Message</label>
                    <textarea class="form-control" id="message" rows="3" name="message"
                        placeholder="Enter Message here..."></textarea>
    
    
            </div>
    
            <div class="form-row justify-content-center">

            <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </div>
    
        </form>
    
        <br>
    
    
        </div>


        </div>
        </div>
        </div>
    </section>



   





    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
    <div class="scroll-to-top d-lg-none position-fixed">
        <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i
                class="fa fa-chevron-up"></i></a>
    </div>



   
        





    <!-- Form Popup button  -->

    <script src="https://formspree.io/js/formbutton-v1.min.js" defer></script>
    <script>
        window.formbutton = window.formbutton || function () {
            (formbutton.q = formbutton.q || []).push(arguments)
        };
        formbutton("create", {
            action: "https://formspree.io/taktukgg@gmail.com"
        });
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>

    <%- include('partials/scripts.ejs'); %>


    <script>
        var scroll = new SmoothScroll('a[href*="#"]');
      </script>
<script>

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>

<script>

baguetteBox.run('.tz-gallery');



  
  </script>



<script src="./js/scripts.js"></script>

</body>

<%- include('partials/footer') %>

</html>