<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Losar Videos</title>

    <%- include('partials/headerPlugIns') %>
    <link rel="stylesheet" href="/css/videos.css">



<!-- As a heading -->
<nav class="navbar navbar-light bg-light">
<a class = "btn btn-primary" href="/">
  Home
</a>

<%- include('partials/loggedIn') %>
</nav>



</head>
<body>


  <% for(var video of losarVideos) { %>

  <div class="card text-center container-fluid mb-3" style="width: 560px">
    <iframe class="card-img-top" width="560" height="315" src="https://www.youtube.com/embed/<%=video.snippet.resourceId.videoId %>" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <div class="card-body">
      <h5 class="card-title">  <%= video.snippet.title %>   </h5>
      <p class="card-text">Published at: <%=video.snippet.publishedAt %></p>
    </div>
  </div>


  <!-- Videos displayed here! --> 

    

  <%} %>
    

</body>


<%- include('partials/footer') %>
</html>