<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Losar Videos</title>

    <%- include('partials/headerPlugIns') %>



<!-- As a heading -->
<nav class="navbar navbar-light bg-light">


<%- include('partials/navBar') %>
</nav>



</head>
<body>









    <!-- Search form -->
<form class="form-inline d-flex justify-content-center md-form form-sm mt-0 mb-3">
  <i class="fas fa-search" aria-hidden="true"></i>
  <input class="form-control form-control-sm ml-3 w-75 searchBar" type="text" placeholder="Search" data-search
    aria-label="Search">
</form>




<div class="container-fluid">



<% for(var video of losarVideos) { %>
  <!-- make title lowercase for filter  -->

  <% const title = (video.snippet.title).toLowerCase();
   %> 
<div class="card container-fluid mb-3 box card-component" data-filter-item data-filter-name= "<%=title %>" style="width: 560px">
  <iframe class="card-img-top" width="560" height="315" src="https://www.youtube.com/embed/<%=video.snippet.resourceId.videoId %>" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <div class="card-body  <%= video.snippet.title %>">
    <h5 class="card-title">  <%= video.snippet.title %>   </h5>
    <p class="card-text">Published at: <%=video.snippet.publishedAt %></p>
  </div>
</div>


<!-- Videos displayed here! --> 

  

<%} %>



  </div>
    




  <%- include('partials/scripts.ejs'); %>





  <script>
 
$('[data-search]').on('keyup', function() {
	var searchVal = $(this).val();
  var filterItems = $('[data-filter-item]');
  

	if ( searchVal != '' ) {
		filterItems.addClass('hidden');   //hide all the cards
		$('[data-filter-item][data-filter-name*="' + searchVal.toLowerCase() + '"]').removeClass('hidden');
	} else {
		filterItems.removeClass('hidden');
	}
});

  </script>



</body>



<%- include('partials/footer') %>
</html>