<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Losar Videos</title>

    <%- include('partials/headerPlugIns') %>


    <%- include('partials/navBar') %>
</head>
<body>



    <!-- Videos displayed here! --> 
  <% for(var video of losarVideos) { %>
    <div class = "videoTab">

        <iframe width="560" height="315" src="https://www.youtube.com/embed?v=<%=video.snippet.resourceId.videoId %>"frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <h2> <%= video.snippet.title %> </h2>
    <p> <%= video.snippet.description %></p>
    <p>Published at: <%=video.snippet.publishedAt %> </p>

    </div>
    

  <%} %>
    
</body>


<%- include('partials/footer') %>
</html>