<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Accept a card payment</title>
    <meta name="description" content="A demo of a card payment on Stripe" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://js.stripe.com/v3/"></script>
    <link rel="stylesheet" href="./css/checkout.css">
<%-include('partials/headerPlugIns') %>
<%-include('partials/navBar') %>



  </head>

  <body>

<div class="container">





    <div class="mx-auto" style="width: 200px;">

            <button type="button" class="btn btn-primary mb-5 mt-5" id="checkout-button">Checkout</button>

              </div>


    
    <script type = "text/javascript">
      var stripePublicKey = '<%= publish_key %>';

      var donationAmt = '<%= amountDonate %>';

  
      var stripe = Stripe(stripePublicKey);
      var checkoutButton = document.getElementById('checkout-button');

      checkoutButton.addEventListener('click', function() {


        fetch('/payment', {
          method: 'POST',
        })
        .then(function(response) {
          return response.json();
        })
        .then(function(session) {
          return stripe.redirectToCheckout({ sessionId: session.id ,
        
   });
        })
        .then(function(result) {
          // If `redirectToCheckout` fails due to a browser or network
          // error, you should display the localized error message to your
          // customer using `error.message`.
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function(error) {
          console.error('Error:', error);
        });
      });


    </script>



<%- include('partials/footer') %>  <!-- need this here , so footer is at bottom of page.-->


</div> <!-- end container-->

  </body>




</html>
